node_modules
build/*
logs
*.log
*.zip
npm-debug.log*
.DS_Store
.env
.env.*
!.env.example
.idea
.vscode/
coverage
api.yml
/tmp/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
